# Archivos de Quarto
/.quarto/
/_site/
/docs/

# Archivos de R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Archivos grandes de datos
data/Casen 2022.sav
lectures/data-sesiones/Casen 2022.sav
*.sav

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*~
*.tmp
*.bak

# Archivos de RStudio
.Rproj.user